{% extends "layout.html.twig" %}
{% block contenu %}
    <form method="post" action="{{ path('client.validFormPanier') }}">
        <fieldset>
            <input name="id"  type="hidden" value="{{donnees.id}}" />
            <div class="form-group">
                <div class="col-md-7 mb-3">
                    <legend>Confirmer l'ajout dans le panier :</legend>
                </div>
                <div class="col-md-3 mb-3">

                    <label>Nom : <h5>{{donnees.nom}}</h5> </label>
                    {% if erreurs.nom is defined %}
                        <div class="invalid-feedback">

                            {{erreurs.nom}}
                        </div>
                    {% endif %}
                </div>
            </div>
            <input type="hidden" id="_method" name="_method" value="delete" />
            <div class="form-group">
                <div class="col-md-6 mb-3">
                    <input type="hidden"   name="_csrf_token"   value="{{ csrf_token('token') }}">

                    <button class="btn" type="submit">ajouter au panier </button>
                </div>
            </div>

        </fieldset>

    </form>
{% endblock %}
