{% extends "layout.html.twig" %}
{% block contenu %}

    <div class="row">
    <div class="col-lg-5">

        <h4>Produits disponibles</h4>
           {% for produit in data if data is not empty %}

               <div class="col-lg-15">
                    <caption>{{produit.nom}}</caption>
                    <table class="table table-striped">
                       <tbody>
                       <tr>
                           <td><img style="width:80px;height:80px" src="{{asset('images/')}}{{produit.photo}}" ></td>
                           <td>prix :{{ produit.prix }}</td>
                           <td> Stock : {{ produit.stock }}</td>
                           <td>
                               <a href="{{ path('panier.add',{idProduit:produit.id}) }}">ajouter au panier</a> <br>
                               <a href="#"> détails sur le produit</a></td>
                       </tr>
                       </tbody>
                   </table>
               </div>
           {% endfor %}
    </div >
        {% if panier is not empty %}
    <div class="col-lg-5">
        <h4>Panier</h4>
        {% for panier in panier if panier is not empty %}
            <div class="col-lg-15">
                <caption>{{panier.nom}}</caption>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td><img style="width:80px;height:80px" src="{{asset('images/')}}{{panier.photo}}" ></td>
                        <td>
                            prix :{{ panier.prix }} <br>
                            Quantite :{{ panier.quantite }} <br>
                            Date d'ajout : {{ panier.dateAjoutPanier|date('d/m/Y')}}
                        </td>
                        <td>
                            <a href="{{path('panier.deleteProduit', {id: panier.id})}}">Suppression</a> <br>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endif %}
    </div>
    {%endblock%}