{% extends "layout.html.twig" %}
{% block contenu %}
	<div class="col-md-6 mb-2"></div>
	<table class="table table-striped">
		<thead class="thead-inverse">
		<tr><th>nom</th><th>id</th><th>type</th><th>prix</th><th>stock</th><th>nom photo</th><th>photo</th>
				<th>opération</th>

		</tr>
		</thead>
		<tbody>
        {% for produit in data if data is not empty %}

			<tr>
				<td>{{produit.nom}}</td><td>{{produit.id}}</td><td>{{produit.libelle}}</td><td>{{produit.prix}}</td>
				<td>{{ produit.stock }}</td><td>{{produit.photo}}</td><td>
					<img style="width:40px;height:40px" src="{{asset('images/')}}{{produit.photo}}" alt="image de {{produit.libelle}}" >
				</td>
                {% if   app.session.get('roles') is defined and  app.session.get('roles') == 'ROLE_ADMIN' or  app.session.get('roles') == 'ROLE_VENDEUR' %}
					<td>
						<a href="{{ path('produit.editProduit', {id: produit.id}) }}">modifier</a>
						<a href="{{ path('produit.deleteProduit', {id: produit.id}) }}">supprimer</a> <br>

						<a href="{{ path('produit.reap', {id: produit.id}) }}">réapprovisionner</a>
					</td>
                {% endif %}
			</tr>
        {% endfor %}
		</tbody>
	</table>
	</div>
{% endblock %}

